<footer class="footer text-black">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mt-3">
        <a href="#"><img src="/assets/favicon.png" alt="PetSnap" width="150" height="150"></a>
        <div class="d-flex justify-content-center gap-3 mt-1">
          <a href="#" class="text-black"><i class="fab fa-facebook-f fa-lg"></i></a>
          <a href="#" class="text-black"><i class="fab fa-square-x-twitter fa-lg"></i></a>
          <a href="#" class="text-black"><i class="fab fa-linkedin-in fa-lg"></i></a>
          <a href="#" class="text-black"><i class="fab fa-instagram fa-lg"></i></a>
          <a href="#" class="text-black"><i class="fab fa-tiktok fa-lg"></i></a>
          <a href="#" class="text-black"><i class="fab fa-whatsapp fa-lg"></i></a>
        </div>
      </div>
    </div>

    <div class="row mt-5 border-black border-top pt-3">
      <div class="col text-center">
        &copy; Socratech. Todos los derechos reservados.
        <ul class="mt-2">
          <li class="list-inline-item"><a href="#" class="text-black">Política de Cookies</a></li>
          <li class="list-inline-item"><a href="#" class="text-black">Accesibilidad</a></li>
          <li class="list-inline-item"><a href="#" class="text-black">Aviso Legal</a></li>
          <li class="list-inline-item"><a href="#" class="text-black">Mapa Web</a></li>
          <li class="list-inline-item"><a href="#" class="text-black">Política de Privacidad</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>