<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">

    <a class="navbar-brand" href="/"><img src="/assets/favicon.png" alt="PetSnap" width="60" height="60"></a> 
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

      <div class="d-flex">
        <a class="btn fw-bold text-black me-2" href="/owner/formAddOwner">Registrarte como dueño</a>
        <a class="btn fw-bold text-black me-2" href="/pet/formAddPet">Registra a tu mascota</a>
        <a class="btn fw-bold text-black me-2" href="/contact">Contacto</a>
        <a class="btn btn-outline-success fw-bold text-black me-2" href="/owner/login">Iniciar Sesión</a>
      </div>
    </div>
  </div>
</nav>